
.navbar {
    background-color: #23376D;

}

.navbar :hover {
    color: orange;

}

.nav-link {
    color: white;
}

.container-clas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

